<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	<!-- AOP 설정 시작 -->
	<aop:config>
		<aop:aspect id="traceAspect" ref="performanceTraceAdvice">
			<aop:around pointcut="execution(public * myspring.user..*(..))||execution(public * myspring.student..*(..))"
				method="trace" />
		</aop:aspect>
	</aop:config>

	<!-- Advice 클래스를 Bean으로 등록 -->
	<bean id="performanceTraceAdvice" class="myspring.aop.xml.PerformanceTraceAdvice" />
	
	<!-- @Aspect가 선언된 모든 Bean을 Aspect로 자동 등록해줌 -->
	<aop:aspectj-autoproxy />
	
	<context:component-scan base-package="myspring.aop.annot" />
	
	<!-- AOP 설정 끝-->
	
</beans>
